<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx  
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
	
	<mvc:annotation-driven />

	<context:annotation-config />
    
    <context:component-scan base-package="br.ufc.petsi.dao.ldap" />
	<context:component-scan base-package="br.ufc.petsi.*" />

	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<!-- Configuração do TilesView -->
	<bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
	</bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		  
		<property name="host" value="smtp.gmail.com"/>
		<property name="port" value="465"/>
		<property name="username" value="siac@quixada.ufc.br"/>
		<property name="password" value="d5%W3%*y"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.required">true</prop>
           		<prop key="mail.smtp.starttls.enable">true</prop>
           		<prop key="mail.debug">false</prop>
          		<prop key="mail.smtp.quitwait">false</prop>
                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
                <prop key="mail.smtp.socketFactory.fallback">false</prop>
			</props>
		</property>
		
	</bean>
	
	<bean class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles/tiles-config.xml</value>
			</list>
		</property>
	</bean>

	<tx:annotation-driven />

	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="location" value="WEB-INF/spring/jasper-views.xml" />
		<property name="order" value="0" />
	</bean>
	
</beans>
