<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:security="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

	<security:global-method-security secured-annotations="enabled"/>

	<security:http auto-config="true" use-expressions="true">
		<security:form-login
			login-page="/"
			default-target-url="/authentication/success"
			authentication-failure-url="/"/>
		
	</security:http>

	<bean id="ldapAuthenticationProvider" class="br.ufc.petsi.security.LdapAuthenticationProvider"></bean>

	<security:authentication-manager>
		<!-- Nosso provedor -->
		<security:authentication-provider ref="ldapAuthenticationProvider" />
		<!-- Provedor baseado em memória -->
		<security:authentication-provider>
			<security:user-service>
				<security:user name="admin" password="admin" authorities="ROLE_USER"/>
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
	

</beans>