#main-container{
	position: absolute;
	width: 30%;
	height: 44%;
	left: 50%;
	top: 50%;
	margin-left: -15%;
	margin-top: -10%;
	box-shadow: 3px 3px 3px #888888;
	border: solid 2px #757575;
	border-radius: 5px;
}

#container-content img{
	margin-top: 5px;
	margin-bottom: 20px;
}


#container-content{
	margin-top: 30px;
	position: absolute;
	left: 50%;
	margin-left: -23.5%;
}

#container-content input{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}


#container-content input[type="submit"]{
	position: absolute;
	right: 0px;
	margin-top:10px;
}

#container-content a{
	font-size: 13px;
	
}