body html{
	height: 100%;
	margin: 0;
	padding: 0;
}

#main-container{
	position: absolute;
	width:370px;
	height:350px;
	max-width: 370px;
	max-height: 350px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.175);
	border-radius: 10px;
	vertical-align: center;
	padding: 30px;
}

#container-content{
	text-align: center;
}

#container-content img{
	margin-top: 20px;
	margin-bottom: 10px;
}

#container-content input{
	width: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#container-content select{
	width: 200px;
	margin: 0 auto;
}

#main-container #container-content a{
	font-size: 13px;
}

#img-banner{
	max-width: 100%;
	min-width: 100%;
}

#home-content{
	overflow: hidden;
}

#left-bar{
	width:30%;
	float: left;
	margin-top:35px;
}

#avatar{
	width: 100%;
	background-color: red;
}

#left-bar img{
	margin: 0 auto;
	cursor: pointer;
}

#box-services{
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.175);
	text-align: center;
}

#box-services h3{
	padding-top: 5px;
}

#box-services a{
	font-size: 17px;
}

#box-services li{
	border: 0 !important;
}

.nav-divider{
	margin: 0 !important;
}

.nav-stacked li{
	margin: 0 !important;
}

#calendar-legend{
	text-align: center;	
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
}

#right-bar{
	text-align:center;
	height: 100%;
	width:70%;
	float: right;
}

.calendar{
	max-height: 70%;
	max-width: 70%; 
	margin: 0 auto;
}

#box-logo{
	background-color: red;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	vertical-align: center;
	width:60%;
	height: 65%;
}

.table{
	text-align: center;
}

.table th{
	text-align: center;
}

#table-status{
	width:20px;
	max-width: 40px;
}

#page-footer{
	min-height:200px;
	max-height:100%;
	width: 100%;
	background-color:#20558a;
	margin-top: 140px;
	border-top: solid 3px;
	border-color: #cecece;
	bottom:0;
	clear: both;
}

#footer-content{
	position: relative;
	max-width:100%;
	text-align: center;
}

.img-footer{
	display:inline;	
}

.img-footer img{
	margin:10px 60px;
	display:inline;
}

#alert-schedules{
	display:none;
	margin: 0 auto;
	max-height: 20%;
	max-width: 70%; 
	width: 70%;
}

#generate-report{
	display:none;
}

#set-professional{
	display:none;
}

#add-service{
	display:none;
}
